name: Merge and Release Extension

on:
    pull_request:
        types: [closed]
        branches:
            - main

permissions:
    contents: write

jobs:
    build-and-release:
        runs-on: ubuntu-latest
        outputs:
            tag_name: ${{ steps.get_tag.outputs.tag_name }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Use Node.js 20
              uses: actions/setup-node@v3
              with:
                  node-version: 20

            - name: Install dependencies with Yarn
              run: yarn install --frozen-lockfile

            - name: Build the extension
              run: yarn build

            - name: Get tag name
              id: get_tag
              run: echo "tag_name=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

            - name: Zip dist folder
              run: |
                  VERSION=${GITHUB_REF#refs/tags/}
                  cd dist
                  zip -r ../kmitl-x-$VERSION.zip .

            - name: Create GitHub Release
              uses: softprops/action-gh-release@v1
              with:
                  files: kmitl-x-${{ github.ref_name }}.zip
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    publish:
        needs: build-and-release
        runs-on: ubuntu-latest
        if: success()
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Download release asset
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  tag_name=${{ needs.build-and-release.outputs.tag_name }}
                  echo "Downloading release asset for tag $tag_name"
                  gh release download "$tag_name" \
                    --repo ${{ github.repository }} \
                    --pattern "kmitl-x-${tag_name}.zip" \
                    --dir .

            - name: Publish to Chrome Web Store
              uses: mnao305/chrome-extension-upload@v5.0.0
              with:
                  file-path: ./kmitl-x-${{ needs.build-and-release.outputs.tag_name }}.zip
                  extension-id: "lnhfadikffnjjhmoimkeinbbhcnkkcln"
                  client-id: ${{ secrets.CLIENT_ID }}
                  client-secret: ${{ secrets.CLIENT_SECRET }}
                  refresh-token: ${{ secrets.REFRESH_TOKEN }}
                  publish: true
